In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing

sns.set_style('whitegrid')

plt.style.use('fivethirtyeight')

from ipywidgets import *
from IPython.display import display


%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
# Use graphviz to make a chart of the regression tree decision points:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [3]:
df = pd.read_csv('/Users/jyots/Desktop/DS_Projects/airbnb_DataSets/Rome_dfm.csv',
                   encoding='utf8')

In [4]:
df.head(2)

,Unnamed: 0,bathrooms,bedrooms,bhk,dist_arprt,host_count,metrostn_count,minstay,neighborhood,overall_satisfaction,price,rest_count,reviews,reviews_count,room_type
0,0,1.0,0.0,1.0,0.251722,8989,13,3.0,Municipio 1,2.0,167.0,77,0,140078,Entire home/apt
1,1,1.0,1.0,1.0,0.251722,8989,13,3.0,Municipio 1,4.5,121.0,77,20,140078,Entire home/apt

In [5]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import ElasticNetCV, ElasticNet, LassoCV, Lasso

import patsy

In [7]:
X = df[[x for x in df.columns if x not in ['bhk','price']]]
y = df.price.values
target = np.log(y)

In [8]:
formula = "target ~ "+' + '.join(X)+' -1'
formula

u'target ~ bathrooms + bedrooms + dist_arprt + host_count + metrostn_count + minstay + neighborhood + overall_satisfaction + rest_count + reviews + reviews_count + room_type -1'

In [9]:
y, X = patsy.dmatrices(formula, data=df, return_type='dataframe')
y = y.values.ravel()

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [11]:
X_train.shape, X_test.shape

((10926, 26), (4683, 26))

In [12]:
reg_scores = cross_val_score(LinearRegression(), X_train, y_train, cv= 10)
print reg_scores, np.mean(reg_scores)

[ 0.49004624  0.50949427  0.49925674  0.5495493   0.54750335  0.53477303
  0.52280559  0.4897929   0.4549515   0.50695065] 0.510512357428

In [13]:
linreg = LinearRegression().fit(X_train, y_train)

In [14]:
from sklearn.tree import DecisionTreeRegressor

In [15]:
predictions = cross_val_predict(linreg, X_test, y_test, cv = 10) 
accuracy = metrics.r2_score(y_test, predictions)
print accuracy

0.514826581842

In [16]:
residuals = y_test - predictions
residuals

array([-0.49524367, -0.10199265,  0.01265613, ...,  0.38913311,
       -0.28889513,  0.12701637])

In [17]:
np.mean(predictions)

4.5654972402226841

In [18]:
#linmod.coef_

In [19]:
print np.mean(y_train), np.mean(y_test)

4.56306273239 4.56552663624

In [20]:
Xn = StandardScaler().fit_transform(X)

In [21]:
Xn_train, Xn_test, y_train, y_test = train_test_split(Xn, y, test_size = 0.3)

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [32]:
rf = RandomForestRegressor()

rf_params = {
    'n_estimators':[500],
    'max_depth':[2,3,4,5,6,None],
    'min_samples_split':[2,4,8,16,32,64,128],
    'max_features':[None, 'sqrt', 'log2']
}

rf_gs = GridSearchCV(rf, rf_params, cv= 10, verbose=1, n_jobs=-1)
rf_gs.fit(Xn_train, y_train)

Fitting 10 folds for each of 126 candidates, totalling 1260 fits

[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   39.1s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed: 12.1min
[Parallel(n_jobs=-1)]: Done 1234 tasks      | elapsed: 21.9min
[Parallel(n_jobs=-1)]: Done 1260 out of 1260 | elapsed: 22.4min finished

GridSearchCV(cv=10, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [500], 'min_samples_split': [2, 4, 8, 16, 32, 64, 128], 'max_depth': [2, 3, 4, 5, 6, None], 'max_features': [None, 'sqrt', 'log2']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=1)

In [33]:
print rf_gs.best_params_
rf_best = rf_gs.best_estimator_

rf_scores = cross_val_score(rf_best, Xn_train, y_train, cv=10)
print rf_scores
print np.mean(rf_scores), np.std(rf_scores)

{'max_features': 'sqrt', 'min_samples_split': 64, 'n_estimators': 500, 'max_depth': None}
[ 0.58213233  0.51793435  0.52829003  0.56181767  0.53771505  0.50472061
  0.53553742  0.50884746  0.55708432  0.48199585]
0.53160750888 0.0284032188059

In [34]:
y_pred = rf_best.fit(Xn_train,y_train).predict(Xn_test)
r2_score = metrics.r2_score(y_test, y_pred)
print("r^2 on test data : %f" % r2_score)

r^2 on test data : 0.551814

In [26]:
#rf_best.feature_importances_

In [35]:
feature_imp = {}
for i, value in enumerate(rf_best.feature_importances_):
    feature_imp[i] = value

feature_imp = pd.DataFrame(feature_imp.items(), columns=['item_no','imp'])
feature_imp.head(2)

   item_no       imp
0        0  0.042479
1        1  0.000005

In [40]:
feature_name = {}
for i, value in enumerate(X_train.columns):
    feature_name[i] = value

feature_name = pd.DataFrame(feature_name.items(), columns=['item_no','name'])
feature_name.head(2)

   item_no                        name
0        0   neighborhood[Municipio 1]
1        1  neighborhood[Municipio 10]

In [41]:
feature_val = feature_name.merge(feature_imp, on='item_no')
feature_val.sort_values('imp',inplace=True,ascending=False,axis=0)

In [42]:
feature_val = feature_val.reset_index(drop=True)

In [43]:
feature_val.head(25)

    item_no                        name       imp
0        17                    bedrooms  0.195942
1        14   room_type[T.Private room]  0.180482
2        16                   bathrooms  0.145098
3        24                     reviews  0.072164
4        25               reviews_count  0.058130
5        23                  rest_count  0.054671
6        21                     minstay  0.054217
7        19                  host_count  0.053598
8         0   neighborhood[Municipio 1]  0.042479
9        22        overall_satisfaction  0.038965
10       18                  dist_arprt  0.033390
11       15    room_type[T.Shared room]  0.023437
12       20              metrostn_count  0.022517
13       10   neighborhood[Municipio 5]  0.012072
14       11   neighborhood[Municipio 7]  0.005026
15        4  neighborhood[Municipio 13]  0.002817
16        7   neighborhood[Municipio 2]  0.001534
17       12   neighborhood[Municipio 8]  0.001265
18        3  neighborhood[Municipio 12]  0.000687
19        2  neighborhood[Municipio 11]  0.000567
20       13   neighborhood[Municipio 9]  0.000466
21        5  neighborhood[Municipio 14]  0.000363
22        8   neighborhood[Municipio 3]  0.000045
23        9   neighborhood[Municipio 4]  0.000033
24        6  neighborhood[Municipio 15]  0.000032

In [1]:
fig, ax = plt.subplots(figsize=(12,6))

sns.barplot(y = feature_val.loc[0:15,:].name, x = feature_val.loc[0:15,:].imp, data=feature_val.loc[0:15,:],orient=""
           )
plt.show()

NameError: name 'plt' is not defined