In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
import math

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
barcelona = pd.read_csv('/Users/jyots/Desktop/DS_Projects/airbnb_DataSets/Barcelona_dfwithres.csv',
                   encoding='utf8')
berlin = pd.read_csv('/Users/jyots/Desktop/DS_Projects/airbnb_DataSets/Berlin_dfwithres.csv',
                   encoding='utf8')
copenhagen = pd.read_csv('/Users/jyots/Desktop/DS_Projects/airbnb_DataSets/Copenhagen_dfwithres.csv',
                   encoding='utf8')
paris = pd.read_csv('/Users/jyots/Desktop/DS_Projects/airbnb_DataSets/Paris_dfwithres.csv',
                   encoding='utf8')
rome = pd.read_csv('/Users/jyots/Desktop/DS_Projects/airbnb_DataSets/Rome_dfwithres.csv',
                   encoding='utf8')

In [3]:
def preprocess(city):
    city.sort_values('residuals',inplace=True)
    city = city.reset_index(drop=True)
    city.drop('Unnamed: 0',axis=1, inplace=True)
    return city

In [4]:
def top_undp_prop(bedrooms,bathrooms,room_type,neighborhood,city):
    df = city[['residuals','latitude','longitude','room_id','bedrooms','bathrooms','room_type','price','neighborhood']][city.neighborhood == neighborhood]
    tmp = df[df['bedrooms']== bedrooms][df['bathrooms']== bathrooms][df['room_type']== room_type].iloc[0:3,:]
    return tmp

In [5]:
city = paris
city = preprocess(city)
out = top_undp_prop(3,1,'Entire home/apt','Amerique',city)
out

/Users/Jyots/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

,residuals,latitude,longitude,room_id,bedrooms,bathrooms,room_type,price,neighborhood
694,-76.732222,48.886190,2.385672,6737362,3.0,1.0,Entire home/apt,67.0,Amerique
1300,-61.107408,48.875962,2.392283,532166,3.0,1.0,Entire home/apt,79.0,Amerique
2533,-47.028573,48.886482,2.388402,2589913,3.0,1.0,Entire home/apt,101.0,Amerique

In [6]:
def top_undp_prop_alln(bedrooms,bathrooms,room_type,city):
    df = city[['residuals','latitude','longitude','room_id','bedrooms','bathrooms','room_type','price','neighborhood']]
    tmp = df[df['bedrooms']== bedrooms][df['bathrooms']== bathrooms][df['room_type']== room_type].iloc[0:3,:]
    return tmp

In [9]:
city = rome
city = preprocess(city)
out_alln = top_undp_prop_alln(3,1,'Entire home/apt',city)
out_alln

/Users/Jyots/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()

,residuals,latitude,longitude,room_id,bedrooms,bathrooms,room_type,price,neighborhood
34,-119.048428,41.915750,12.454097,7509794,3.0,1.0,Entire home/apt,52.0,Municipio 1
49,-105.640119,41.908474,12.450097,4413081,3.0,1.0,Entire home/apt,68.0,Municipio 1
69,-95.640119,41.895791,12.493713,663834,3.0,1.0,Entire home/apt,78.0,Municipio 1